@import "../var.css";

@component-namespace vows {
  @c articles {
    position: relative;
    top: 100%;
    z-index: 1;

    @d list {
      max-width: 800px;
      margin: auto;
      color: var(--black) var(--white);
      border-radius: 6px;
      box-sizing: border-box;
    }
  }
}
