@import "../var.css";

@component-namespace vows {
  @c articles {
    width: 100%;
    color: var(--black) var(--white);
    box-sizing: border-box;

    @d list {
      max-width: 800px;
      margin: auto;
    }
  }

  @c item {
    padding: 2rem 0;
    margin: 0 4rem;
    border-bottom: 1px solid var(--extra-light-silver);
    @media (max-width: 500px) {
      margin: 0 1rem;
    }

    @d header {
      @m title {
        margin-bottom: 1rem;
        text-align: left;
        font-size: 1.5rem;

        & a {
          color: var(--light-black);
        }
      }
    }

    @d content {
      margin-bottom: 1rem;
      line-height: 1.7;
    }

    @d meta {
      font-size: .875rem;
      display: flex;
      align-items: center;

      & > *:not(:last-child) {
        padding-top: .25rem;
        padding-bottom: .25rem;
        border-right: 1px solid var(--extra-light-silver);
      }

      @m date {
        padding-right: .5rem;
      }

      @m tags {
        padding-left: .5rem;
        padding-right: .5rem;
        display: flex;
      }

      @m categories {
        padding-left: .5rem;
      }
    }
  }
}
