@import "../var.css";

@component-namespace vows {
  @c cover {
    position: fixed 0 0 0 0;
    size: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @d header {
      @m avatar {
        size: 72px;
        border-radius: 50%;
      }

      @m title {
      }
    }
  }
}