@import "../var.css";

@component-namespace vows {
  @c cover {
    size: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @d header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @m avatar {
        size: 42%;
        border-radius: 50%;
        display: block;
      }

      @m title {
        margin: 1rem 0;
        font-family: "Nixie One", cursive;
        font-size: 2.5rem;
      }
    }
  }
}