@import "../var.css";

@component-namespace vows {
  @c footer {
    size: 100% 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    & a {
      color: var(--white);
    }
  }
}
