@import "../var.css";

@component-namespace vows {
  @c pagination {
    size: 100% 8rem;
    max-width: 800px;
    margin: auto;

    & a {
      color: var(--silver);
    }

    @d list {
      size: 100%;
      padding: 0 4rem;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;

      @m prev {

      }

      @m next {
        
      }
    }
  }
}