@import "../../var.css";

@component-namespace vows {
  @c jumbotron {
    size: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    @d nav {
      size: 100% 4rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      @m left {
        display: flex;
        align-items: center;

        & img {
          size: 2rem;
          border-radius: 50%;
        }

        & span {
          margin-left: .5rem;
          font-size: 1.2rem;
          font-family: "Nixie One", cursive;
        }
      }
    }

    @d header {
      size: 100% calc(100% - 8rem);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @m title {
        margin: 1rem 0;
        font-size: 2.5rem;
        font-family: "Nixie One", cursive;
      }

      @m desc {
        margin: .5rem 0;
        font-size: 1.25rem;
        font-family: "Nixie One", cursive;
      }
    }

    @d footer {
      size: 100% 4rem;
      text-align: center;

      & a {
        cursor: pointer;

        & i {
          font-size: 2.5rem;
          animation: bounce 2s 1s infinite;
        }
      }
    }
  }
}

@keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(-5px);
  }
}
