@import "../../var.css";

@component-namespace vows {
  @c jumbotron {
    size: 100%;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @d header {
      height: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @m avatar {
        width: 42%;
        border-radius: 50%;
        display: block;
      }

      @m title {
        margin: 1rem 0;
        font-family: "Nixie One", cursive;
        font-size: 2.5rem;
      }
    }

    @d footer {
      size: 100% 10%;
      text-align: center;

      & a {
        cursor: pointer;

        & i {
          font-size: 2.5rem;
          animation: bounce 2s 1s infinite;
        }
      }
    }
  }
}

@keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(-5px);
  }
}
