@import "../../var.css";

@component-namespace vows {
  @c pagination {
    size: 100% 8rem;
    max-width: 800px;
    margin: auto;
    color: var(--light-silver);
    font-size: .875rem;

    @d list {
      size: 100%;
      padding: 0 4rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & li {
        size: 8rem 2.125rem;
        line-height: 2.125rem;

        & a {
          size: 100%;
          text-align: center;
          border: 1px solid var(--light-silver);
          border-radius: 4px;
          box-sizing: border-box;
          display: block;
        }
      }
    }
  }
}