@import "../../var.css";

@component-namespace vows {
  @c menu-btn {
    size: 100% 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    @d left {
      display: flex;
      align-items: center;

      & img {
        size: 2rem;
        border-radius: 50%;
      }

      & span {
        margin-left: .5rem;
        font-size: 1.2rem;
        font-family: "Nixie One", cursive;
      }
    }

    @d right {
      padding: .625rem .875rem;
      font-size: .875rem;
      border: 1px solid var(--white);
      border-radius: 4px;
      display: flex;
      align-items: center;
      transition: background .25s;
      &:hover {
        background: rgba(255, 255, 255, .2);
      }

      & i {
        size: .875rem;
        margin-right: .5rem;
      }
    }
  }

  @c menu {
    position: absolute;
    top: 0;
    left: 0;
    size: 100% 4rem;
    padding: 0 2rem;
    color: var(--white) rgba(0, 0, 0, .25);
    box-sizing: border-box;
    overflow: auto;
    transform: translateY(-4rem);
    transition: transform 0.25s, visibility 0.25s;
    visibility: hidden;
    &.active {
      visibility: visible;
      transform: translateY(0);
    }

    @d body {
      size: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & li {
        & a {
          height: 4rem;
          padding: 0 1rem;
          line-height: 4rem;
          display: block;
          transition: background .25s;
          &:hover {
            background: rgba(255, 255, 255, .2);
          }
        }
      }
    }
  }
}
