@import "../../var.css";

@component-namespace vows {
  @c article {
    width: 100%;
    color: var(--black) var(--white);
    box-sizing: border-box;

    @d content {
      max-width: 800px;
      margin: auto;
      padding: 2rem;
      color: var(--light-black);
      line-height: 1.8;
      @media (max-width: 500px) {
        padding: 2rem 1rem;
      }

      & p, & pre, & ul, & ol, & dl,
      & form, & hr, & table, & blockquote {
        margin-bottom: 1.2rem
      }

      & h1, & h2, & h3, & h4, & h5, & h6  {
        margin-top: 1.2rem;
        margin-bottom: 0.6rem;
        line-height: 1.35;
      }

      & h1 {
        font-size: 2rem;
      }

      & h2 {
        font-size: 1.8rem;
      }

      & h3 {
        font-size: 1.6rem;
      }

      & h4 {
        font-size: 1.4rem;
      }

      & h5, & h6 {
        font-size: 1.2rem;
      }

      & ul {
        margin-left: 1.3rem;
        list-style: disc;
      }

      & ol {
        list-style: decimal;
        margin-left: 1.9rem;
      }

      & li ul,
      & li ol {
        margin-bottom: 0.8rem;
        margin-left: 2rem;
      }

      & li ul {
        list-style: circle;
      }

      & em,
      & legend,
      & caption {
        color: var(--black);
        font-weight: inherit;
      }

      & a {
        color: var(--extra-light-black);
        border-bottom: 1px solid var(--extra-light-silver);
        transition: color .25s;
        &:hover {
          color: var(--black);
        }
      }

      & pre {
        font-size: .82rem;
      }

      & p > code {
        padding: 1px 4px;
        color: var(--dark-blue) var(--dark-white);
        font-size: .875rem;
        border-radius: 2px;
      }

      & blockquote {
        margin-left: -2rem;
        padding-left: 1.75rem;
        border-left: var(--light-black) 4px solid;
        box-sizing: border-box;
      }

      & img {
        max-width: 80%;
        margin: auto;
        display: block;
        -webkit-user-drag: none;
      }
    }
  }
}
